.home-container {
  height: 5000px;
}
#heading-lg {
  position: fixed;
  font-size: 80px;
  width: 1000px;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  z-index: 1;
}
.heading-lg-bottom {
  width: 100%;
  background-color: white;
  height: 20rem;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}
.heading-lg-top {
  width: 100%;
  background-color: white;
  height: 20rem;
  position: fixed;
  top: 0px;
  z-index: 10;
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* You can change this to clip if you don't want ellipsis */
}
#font-1 {
  position: fixed;
  text-align: center;
  opacity: 0;
  left: 0px;
  width: 900px;
}

#font-2 {
  position: fixed;
  top: 200px;
  right: 0px;
  width: 900px;
}

#font-3 {
  position: fixed;
  top: 70vh;
  left: 0px;
  width: 900px;
}

#font-4 {
  position: fixed;
  /* top: 400px; */
  right: 0px;
  width: 900px;
  bottom: 10px;
}
